<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hi>list</hi>
    <%- include('nav.ejs') %> <!-- nav.ejs 포함 -->
    
    <%= JSON.stringify(posts) %>
    <div class="white-bg">
        <% for (let i = 0; i < posts.length; i++) { %> <!-- for 루프 시작 -->
            <div class="list-box">
                <h4><a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a></h4> <!-- 제목 출력 -->
                
            </div>
        <% } %> <!-- for 루프 닫기 -->
    </div> 
</body>
</html>